# environment variables for hubot instance

export HUBOT_NAME="johndoe"
export HUBOT_ALIAS="!"

export HUBOT_ADAPTER="matrix"
export HUBOT_MATRIX_HOST_SERVER="https://matrix.d120.de:8448"
export HUBOT_MATRIX_PASSWORD="*****"

export EXPRESS_PORT=12345

export HUBOT_ROOMID_TESTROOM="!EdZMNgeclhNcWwlyNs:d120.de"

export HUBOT_ROOTLOG_FILENAME="/tmp/rootlog.txt"
